/* @font-face {
    font-family:"suisse" ;
    src: url(./assets/fonts/fonnts.com-Suisse_Intl_Mono.ttf);
}

@font-face {
    font-family:"ppwriter" ;
    src: url(./assets/fonts/PPWriter-Regular-BF6445d4ec49712.otf);
}

@font-face {
    font-family: "azeret" ;
    src: url(./assets/fonts/AzeretMono-Regular.ttf);
} */


@font-face {
    font-family: 'adieu';
    src: url(./assets/fonts/Adieu-Regular.ttf);
}


/* grotesk fonts */
@font-face {
    font-family:"grotesk-medium" ;
    src: url(./assets/fonts/grotesk/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: "grotesk-black";
    src: url(./assets/fonts/grotesk/NeueHaasDisplayBlack.ttf);
}



/* editorial fonts */
@font-face {
    font-family: "editorial-regular";
    src: url(./assets/fonts/editorial/PPEditorialNew-Regular-BF644b214ff145f.otf);
}

@font-face{
    font-family: "editorial-italic";
    src: url(./assets//fonts//editorial/PPEditorialNew-Italic-BF644b214fb0c0a.otf);
}

@font-face {
    font-family: "fk-regular";
    src: url(./assets/fonts/fk-roman/FKRomanStandardTrial-Regular-BF65712ec975639.otf);
}

@font-face {
    font-family: "gt-regular";
    src: url(./assets/fonts/gt-super/GT-Super-Display-Regular-Trial.otf);
}

@font-face {
    font-family:"gt-light" ;
    src: url(./assets/fonts/gt-super/GT-Super-Display-Light-Trial.otf);
}





@font-face {
    font-family: "affairs-regular";
    src: url(./assets/fonts/affairs-font/affairstest-regular.otf);
}

@font-face {
    font-family: "sohen-breit";
    src: url(./assets/fonts/Sohen/TestSohneBreit-Buch-BF663d89ca2ff42.otf);
}

@font-face {
    font-family:"sohen-halbfett" ;
    src: url(./assets/fonts/Sohen/TestSohne-Halbfett-BF663d89cd2d67b.otf);
}



/* garamon fonts */

@font-face {
    font-family: "eb-garamond-regular";
    src: url(./assets/fonts/eb_garamond/EBGaramond-Regular.ttf);
}

@font-face {
    font-family: "eb-garamond-medium";
    src: url(./assets/fonts/eb_garamond/EBGaramond-Medium.ttf);
}
@font-face {
    font-family: "frankton-mono-bold";
    src: url(./assets/fonts//Fraktion/Mono/PPFraktionMono-Bold.otf);
}